:root{
    --pink: #EF3C82;
    --white: white;
    --black: black;
    --red: #E74C3C;
    --blue: #3498DB;

}

#fixpiece{
  position: fixed;
  display: block;
  bottom: 100px;
}
body{
    
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    
    
}
.diapositiva{
    width: 100vw;
    height: 100vh; 
}
.envoltura{
    display: flex;
    flex-direction: row;
    width: 400vh;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
/*----fondos */

.uno{
    background: url(/IMG/fondo01fb.gif);   
    background-size: cover;
    background-position: 0em;
}
.dos{
    background: url(/IMG/fondo01fb.gif);   
    background-size: cover;
    background-position: center;
}
.tres{
    background: url(/IMG/fondo01fb.gif);   
    background-size: cover;
    background-position: center;
}
.cuatro{
    background: url(/IMG/fondo01fb.gif);   
    background-size: cover;
    background-position: center;
}
.cinco{
    background: url(/IMG/fondo01fb.gif);  
    background-size: cover;
    background-position: center;
}
.otra-envoltura{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar{
    display: none;
}
.FuenteTitulo1,#enviar,#enviar2{
    font-family: 'VT323', monospace;
    position: relative;
    display: inline-block;
    border: 2px solid var(--white) ;
    padding: 10px 30px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #70d0db;
    transition: color 0.5s, background 0.5s;

}
.FuenteTitulo1.redondeo{
    border-radius: 30px;
}
.FuenteTitulo1:active{
    box-shadow: inset 0 0 20px var(--white  );
}
.FuenteTitulo1:hover{
    color: var(--white);
    background-color: transparent;
}
.FuenteTitulo{
    font-family: 'VT323', monospace;
}
/* estilo de imagenes y posiciones**/

aside{
    width: 100%;
    height:100%; 
    text-align: justify;
    float: right;
    padding: 80px;
    box-sizing: border-box;
    align-items: center;
    
    
}
#img11, #img12, #img13, #img14, #img15{
    border-style: groove;
    border-color: goldenrod;
   

}
#img11:hover {
    
    padding: auto;
    transform: scale(1.05);
}
#img12:hover {
    
    padding: auto;
    transform: scale(1.05);
}
#img13:hover {
    
    padding: auto;
    transform: scale(1.05);
}
#img14:hover {
    
    padding: auto;
    transform: scale(1.05);
}

#img15:hover {
    
    padding: auto;
    transform: scale(1.05);
}
/*ANIMACION de titulos principales ashley ;)*/
.cont3{
    padding-left: 1%;
}
.cont3 span {
    font-size: 22pt;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .cont3 span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
  }
  .cont3 span::after {
    content: var(--l);
    position: absolute;
    height: 200%;
    width: 300px;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
  }
  .cont3 span:hover {
    filter: contrast(250%);
  }
  .cont3 span:nth-child(1) {
    color: #ffe600;
  }
  .cont3 span:nth-child(2) {
    color: #ffe600;
  }
  .cont3 span:nth-child(3) {
    color: #ffe600;
  }
  .cont3 span:nth-child(4) {
    color: #ffe600;
  }
  .cont3 span:nth-child(5) {
    color: #ffe600;
  }
  .cont3 span:nth-child(6) {
    color: #ffe600;
  }
  .cont3 span:nth-child(7) {
    color: #ffe600;
  }
  .cont3 span:nth-child(8) {
    color: #ffe600;
  }
  .cont3 span:nth-child(9) {
    color: #ffe600;
  }
  .cont3 span:nth-child(10) {
    color: #ffe600;
  }
  .cont3 span:nth-child(11) {
    color: #ffe600;
  }


.cont2 span {
    font-size: 22pt;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .cont2 span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
  }
  .cont2 span::after {
    content: var(--l);
    position: absolute;
    height: 200%;
    width: 300px;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
  }
.cont2 span:hover {
    filter: contrast(250%);
  }
.cont2 span:nth-child(1) {
    color: #ffe600;
  }
.cont2 span:nth-child(2) {
    color: #ffe600;
  }
.cont2 span:nth-child(3) {
    color: #ffe600;
  }
.cont2 span:nth-child(4) {
    color: #ffe600;
  }
.cont2 span:nth-child(5) {
    color: #ffe600;
  }
.cont2 span:nth-child(6) {
    color: #ffe600;
  }
.cont2 span:nth-child(7) {
    color: #ffe600;
  }
.cont2 span:nth-child(8) {
    color: #ffe600;
  }
.cont2 span:nth-child(9) {
    color: #ffe600;
  }
  .cont2 span:nth-child(10) {
    color: #ffe600;
  }
  .cont2 span:nth-child(11) {
    color: #ffe600;
  }
  .cont2 span:nth-child(12) {
    color: #ffe600;
  }
  .cont2 span:nth-child(13) {
    color: #ffe600;
  }
  .cont2 span:nth-child(14) {
    color: #ffe600;
  }
  .cont2 span:nth-child(15) {
    color: #ffe600;
  }
  .cont2 span:nth-child(16) {
    color: #ffe600;
  }
  .cont2 span:nth-child(17) {
    color: #ffe600;
  }
  .cont2 span:nth-child(18) {
    color: #ffe600;
  }
  .cont2 span:nth-child(19) {
    color: #ffe600;
  }
  .cont2 span:nth-child(20) {
    color: #ffe600;
  }
  .cont2 span:nth-child(21) {
    color: #ffe600;
  }
  .cont2 span:nth-child(22) {
    color: #ffe600;
  }
  .cont2 span:nth-child(23) {
    color: #ffe600;
  }
  .cont2 span:nth-child(24) {
    color: #ffe600;
  }
  .cont2 span:nth-child(25) {
    color: #ffe600;
  }
  .cont2 span:nth-child(26) {
    color: #ffe600;
  }
  .cont2 span:nth-child(27) {
    color: #ffe600;
  }
  .cont2 span:nth-child(28) {
    color: #ffe600;
  }
  .cont2 span:nth-child(29) {
    color: #ffe600;
  }
  .cont2 span:nth-child(30) {
    color: #ffe600;
  }
  .cont2 span:nth-child(31) {
    color: #ffe600;
  }
  .cont2 span:nth-child(32) {
    color: #ffe600;
  }
  .cont2 span:nth-child(33) {
    color: #ffe600;
  }
  .cont2 span:nth-child(34) {
    color: #ffe600;
  }
.cont2 span:nth-child(35) {
    color: #ffe600;
  }

.cont{
    padding-left: 50%;
}
.cont span {
    font-size: 50pt;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .cont span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
  }
  .cont span::after {
    content: var(--l);
    position: absolute;
    height: 200%;
    width: 300px;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
  }
  .cont span:hover {
    filter: contrast(250%);
  }
  .cont span:nth-child(1) {
    color: #ffe600;
  }
  .cont span:nth-child(2) {
    color: #ffe600;
  }
  .cont span:nth-child(3) {
    color: #ffe600;
  }
  .cont span:nth-child(4) {
    color: #ffe600;
  }
  .cont span:nth-child(5) {
    color: #ffe600;
  }
  .cont span:nth-child(6) {
    color: #ffe600;
  }
  .cont span:nth-child(7) {
    color: #ffe600;
  }
  .cont span:nth-child(8) {
    color: #ffe600;
  }
  .cont span:nth-child(9) {
    color: #ffe600;
  }


/*iconos ashley villanueva :)*/
#btn-mas{
    display: none;
}
.iconos{
    position: fixed;
    bottom:20px;
    left: 20px;
}
.redes a, .icon-th-large{
    display: block;
    text-decoration: none;
    background: #70d0db;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}
.redes a:hover{
    background:#fff;
    color:#70d0db;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.icon-th-large{
    cursor: pointer;
    background:#70d0db;
    font-size: 23px;
    
}
#btn-mas:checked ~.btn-mas .icon-th-large{
    transform: rotate(137deg);
    font-size: 25px;
}
/* media queries */


@media only screen and (min-width: 590px){
    .asiede{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 960px){
    .asiede{
        grid-template-columns: repeat(3, 1fr);
    }
}