:root{
    --pink: #EF3C82;
    --white: white;
    --black: black;
    --red: #E74C3C;
    --blue: #3498DB;

}

body{
    margin: 0;
    padding: 0;
    
    
}
.diapositiva{
    width: 100vw;
    height: 100vh; 
}
.envoltura{
    display: flex;
    flex-direction: row;
    width: 400vh;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.uno{
    
    background: url(/IMG/fondo01fb.gif);   
    background-size: cover;
    background-position: center;
}
.dos{
    background: url(/IMG/fondo01fb.gif);   
    background-size: cover;
    background-position: center;
}
.tres{
    background: url(/IMG/fondo01fb.gif);   
    background-size: cover;
    background-position: center;
}
.cuatro{
    background: url(/IMG/fondo01fb.gif);   
    background-size: cover;
    background-position: center;
}
.otra-envoltura{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar{
    display: none;
}
.FuenteTitulo1{
    font-family: 'VT323', monospace;
    position: relative;
    display: inline-block;
    border: 2px solid var(--white) ;
    padding: 10px 30px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #70d0db;
    transition: color 0.5s, background 0.5s;

}
.FuenteTitulo1.redondeo{
    border-radius: 30px;
}
.FuenteTitulo1:active{
    box-shadow: inset 0 0 20px var(--white  );
}
.FuenteTitulo1:hover{
    color: var(--white);
    background-color: transparent;
}
.FuenteTitulo{
    font-family: 'VT323', monospace;
}